<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Comic World</title>
    <link href="~/Styles/Estilos.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
<div class="header">
        <h1>Comic World</h1>
    </div>
    <div class="row">
        <div class="col-3 col-m-9 menu">
            <ul>
                <li>@Html.ActionLink("Listado de comics", "Index", "Comics")</li>
                <li>@Html.ActionLink("Listado de usuarios", "Index", "Usuarios")</li>
                <li>@Html.ActionLink("Salir", "Salida", "Home")</li>
            </ul>
        </div>
        <div class="col-6 col-m-9">
            @if (TempData["mensaje"] != null)
            {
                <div>@TempData["mensaje"]</div>
            }
            @RenderSection("Body")
        </div>
    </div>
    <div class="footer">
        <p>Módulo administrativo desarrollado para el proceso de selección de Pragma.</p>
    </div>
</body>
</html>